<div class="border rounded">
  <div class="d-flex align-items-center">
    <h1><%= @article.title %></h1>
    <%= link_to article_path(@article), method: :delete do %>
      <i class="far fa-trash-alt ml-3"></i>
    <% end %>
    <%= link_to edit_article_path(@article) do %>
      <i class="fas fa-pencil-alt ml-3"></i>
    <% end %>
  </div>
  <p><%= @article.content %></p>
  <p><%= @article.updated_at %></p>
</div>
