<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  </head>

  <body>
    <div class="navbar bg-light mb-3 border-bottom">
      <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <a href="articles/new" class="nav-item">New Article</a>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
